<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="{{ url_for('static', filename='images/pedro pedro pedro.jpg') }}" alt="" /></a>
            <h1><strong>Flask with Python</strong>,catalogo de ganadores<br />
            premios nobeles<br /></h1>
            <ul class="icons">
                <li><a href="https://twitter.com/MadDraxy" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/madand1" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="/search_form" class="icon fas fa-search"></a></li>

            </ul>
        </div>
    </header>

    <!-- Contenido específico de cada página -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.poptrox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>
